/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  html {
  min-width: 600px;
  min-height: 600px;
}

  body {
  margin: 0px auto;
  max-width: 900px;
  min-height: 600px;
  max-height: 100%;
}

div{
  background-color: #fffff0;
}

header, footer {
  background-color: #faa;
}

header {
  margin-top: 15px;
  height: 70px;
  width: 100%;
}

header h1, header a {
  margin: 0px 0px 0px 15px;
  line-height: 70px;
  color: #444;
  text-decoration: none;
}

table, div div, h1, h3 {
  margin-left: 25px;
}

.info_btn a {
  margin: 0px 15px;
}

div .info_btn {
  text-align: right;
}

div div a {
  margin: auto 10px;
}

.btn a {
  color: #fff;
} 

footer {
  height: 50px;
  text-align: center;
}

footer a {
  color: #444;
  text-decoration: none;
}
